bottle==0.12.18
scikit-learn==0.24.2
pandas==1.2.4
requests==2.25.1
numpy==1.20.3
spacy==3.0.6
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0.tar.gz
gunicorn